<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a sample free bootstrap admin template startup app using rails 6 and webpacker. Unlike the preior rails versions I have used webpacker to manage asset pipeline and integrated theme using using that.</p>
  <hr class="my-4">
  <p>You can find the completed guide to install this boiler-plate here.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="javascript:void(0)" role="button">Learn more</a>
  </p>
</div>
